/* Aamiainen, lounas, välipala yms. -buttonit */
.row-buttons {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    margin: 5px;
}

select {
    margin: 0px 5px 10px 5px;
    background-color: #77bfe000;
    color: #5B92AB;
    padding: 5px;
    box-shadow: 5px 10px 10px #88888830;
    border: 1px solid #5B92AB;
    text-transform: uppercase;
    font-size: small;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

button, .tallennaruoka {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border-radius: 6px;
    padding: 14px 24px;
    border: 0 none;
    letter-spacing: 1px;
    text-transform: uppercase;
    background: #77bfe0;
    box-shadow: 0 3px 0 0 #4f8198;
    margin: 0px 5px 10px 5px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

button:active {
    background: #779fe0;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
    }

button:hover {
    background: #779fe0;
}
    
.current {
    background: #779fe0;
    box-shadow: none;
}

.uusiruoka {
    padding: 12px;
    max-width: fit-content;
}

/* RESPONSIIVISUUS */
@media (max-width: 600px) {
    .row-buttons {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

/* 
Buttoneita löytyy:
    Ravintosivu: 
    - ateriat
    - lisää uusi ruoka-aine
    - tallenna ateriaksi
*/