/* header */
.header-white {
    margin: 5px;
    box-shadow: 5px 10px 10px #88888830;
    padding: 15px 50px;
    height: 300px;
    background-color: white;
}

.header-trans {
    height: 300px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.blue-title {
    background-color: #77BFE0;
    padding: 10px;
}

/* Ravinto-sivulla: */

.button-ateriat {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

button {
    margin: 10px;
    background-color: #77BFE0;
    color: white;
    padding: 20px;
    box-shadow: 5px 10px 10px #88888830;
    border-radius: 10px;
}

.row-1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}


.boxes-tallennetut {
    display: flex;
    justify-content: space-between;
}

.box-tallennetut{
    border: 1px solid #BECCC9;
    height: 200px;
    width: 45%;
}