.calendar {
    width: 50%;
    display: flex;
    flex-flow: column;
}

.calendar-month {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

.calendar-month > li {
    list-style-type: none;
}

.calendar-month > li > a {
    text-decoration: none;
    color: white;
}

.title {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    text-transform: capitalize;
}

#pvm {
    text-transform: capitalize;
}

.calendar-table, .cal-cell-th, .cal-cell {  
    text-align: center;
    border: 0;
}

.calendar-table {
    border-collapse: collapse;
}

.cal-cell-th, .cal-cell {
    text-transform: uppercase;
    padding: 15px;
    margin: 5px;
}

.cal-cell:hover, .today:hover {
    background-color: #b5d6e0;
    cursor: pointer;
}

.cal-cell:active {
    background-color: #77bfe0;
    cursor: pointer;
}

.today {
    background-color: #8d77e0;
    text-align: center;
}

/* RESPONSIIVISUUS */
@media (max-width: 900px) {
    .calendar {
        width: 100%;
    }
}

@media (max-width: 375px) {
    .cal-cell-th, .cal-cell {
        padding: 10px;
    }
}