/* laatikot-osio */
.row {
    display: -webkit-flex;
    display: flex;
}

/* laatikot */
.column {
    margin: 5px;
    padding: 10px;
    box-shadow: 5px 10px 10px #88888830;
    background-color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}