/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {

  width: -webkit-fill-available;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;

  /* margin: 0px 5px 10px 5px;
  padding: 5px;
  box-shadow: 5px 10px 10px #88888830;
  border: 1px solid #5B92AB;
  background-color: #77bfe000;
  color: #5B92AB;
  font-size: small;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; */
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
tr {
  text-align: left;
}
/* Set a style for the submit button */
.registerbtn, .loginbtn, .addbtn, .continuebtn, .savebtn {
  background-color: var(--main-bg-color);
  color: white;
  padding: 6px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  opacity: 0.9;
}
  .deletebtn {
    float: right;
     background-color: #77BFE0;;
     color: white;
     padding: 6px 10px;
       margin: 0px 0;
   
     border: none;
     cursor: pointer;
     width: auto;
     opacity: 0.9;
   }

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

.error {
  color: red;
  
}

