.nav-web {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    box-shadow:  3px 3px 0px #88888830;
    width: 100%;
    margin: 0;
    top: 0;
}

.nav-web ul {
    list-style-type: none;
    padding: 0;
    margin: 15px;
}

.left {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.right {
    display: -webkit-flex;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 30px !important;
    font-weight: bold !important;
    color: #8d77e0 !important;
    text-transform: none !important;
    letter-spacing: 0 !important;
}

.nav-web ul li a {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    text-decoration: none;
    margin: 0px 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.nav-web ul li a:hover {
    opacity: 0.5;
}

.nav-web .active {
    color: #8d77e0;
    font-weight: bold;
}

.nav-mob {
    display: none;
}

/* RESPONSIIVISUUS */
/* @media (max-width: 600px) {
    .nav-mob {
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        background-color: white;
        box-shadow:  3px 3px 0px #88888830;
        width: 100%;
        margin: 0;
        top: 0;
    }

    .nav-mob ul {
        list-style-type: none;
        padding: 0;
        margin: 15px;
    }

    .nav-mob ul li a {
        font-size: 15px;
        color: black;
        text-decoration: none;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .nav-mob ul li a:hover {
        opacity: 0.5;
    }
    
    .nav-mob .active {
        color: #8d77e0;
        font-weight: bold;
    }
    .nav-web {
        display: none;
    }
} */