/* ISO LAATIKKO (header) */
.header-white {
    margin: 10px;
    box-shadow: 5px 10px 10px #88888830;
    padding: 30px 50px;
    background-color: white;
}

.header-white-ruoka {
    margin: 10px;
    box-shadow: 5px 10px 10px #88888830;
    padding: 30px;
    background-color: white;
    display: flex;
}

/* PIENEMMÄT LAATIKOT: ison laatikon alapuolella */
.row {
    display: -webkit-flex;
    display: flex;
}

.column {
    margin: 10px;
    box-shadow: 5px 10px 10px #88888830;
    background-color: white;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* LAATIKON OTSIKKOALUE */
.blue-title {
    background-color: #267ea6;
    padding: 10px;
}

/* RAVINTO-SIVU: Tallennetut ruoat ison laatikon sisällä */
.row-1 {
    display: -webkit-flex;
    display: flex;
    /* justify-content: space-between;
    align-items: baseline; 
    margin-bottom: 10px;*/
    flex-flow: column;
    width: 40%;
    margin: 5px;
    justify-content: space-around;
}

.boxes-tallennetut {
    display: -webkit-flex;
    display: flex;
    /* justify-content: space-between; */
    /* margin-bottom: 20px; */
    width: 60%;
    border: 1px solid #BECCC9;
    margin: 5px;
}

.box-tallennetut{
    margin: 5px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.ruoka-tallennus {
    margin: 10px;
}

/* OMA TILI-SIVULLA */
.column-content{
    margin: 20px;
}

/* KALENTERI-SIVULLA */
.cal-row-1 {
    display: flex;
    justify-content: space-between;
}

.päivän-tiedot {
    display: flex;
    flex-flow: column;
    width: 50%;
}

/* UNISIVULLA */

/* .flex-row, .uni-column-content {
    display: flex;
    flex-flow: row wrap;
}*/

.uni-column-content {
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
} 

.column-1, .column-2 {
    border: 1px solid #BECCC9;
    padding: 3px;
    margin: 3px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* RESPONSIIVISUUS */
@media (max-width: 900px) {
    .cal-row-1, .uni-column-content {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .päivän-tiedot {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .row, .row-1, .boxes-tallennetut, .header-white-ruoka {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .row-1, .boxes-tallennetut {
        width: 100%;
    }
}

@media (max-width: 660px) {
    .column-content {
        margin: 10px;
    }
}