/* ISO LAATIKKO (header) */
.header-white {
    margin: 5px;
    box-shadow: 5px 10px 10px #88888830;
    padding: 30px 50px;
    background-color: var(--main-bg-box-color);
}

.header-trans {
    height: 300px;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

/* RAVINTO-SIVU: Tallennetut ruoat ison laatikon sisällä */
.row-1 {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.boxes-tallennetut {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box-tallennetut{
    border: 1px solid #BECCC9;
    margin: 5px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.ruoka-tallennus {
    margin: 10px;
}

/* PIENEMMÄT LAATIKOT: ison laatikon alapuolella */
.row {
    display: -webkit-flex;
    display: flex;
}

.column {
    margin: 5px;
    box-shadow: 5px 10px 10px #88888830;
    background-color: var(--main-bg-box-color);
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

/* LAATIKON OTSIKKOALUE */
.blue-title {
    background-color: var(--main-blue-title-color);
    padding: 10px;
}

.column-content{
    margin: 20px;
}

/* RESPONSIIVISUUS */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .row-1 {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .boxes-tallennetut {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}