table, td, th {  
    /* border: 1px solid #ddd; */
    text-align: left;
}

table {
    overflow-x:auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #beccc9;
    margin-bottom: 10px;
    
    word-wrap: break-word;
    overflow-wrap: break-word;

    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

th, td {
    padding: 10px;
}

.lisaa {
    display: flex;
    align-items: center;
}

.respo{
    display: none;
}

.mobile {
    display: none;
}

/* RESPONSIIVISUUS */
@media (max-width: 660px) {
    th, td {
        padding: 5px 2px;
    }
    .lisaa {
        display: none;
    }
    .respo {
        display: flex;
    }
}

@media (max-width: 450px) {
    .laptop {
        display: none;
    }

    .mobile {
        display: table-row;
    }
}