h2{
    color: #5B92AB;
    font-weight: bold;
    text-align: center;
}

h3{
    color: white;
    margin: 0;
}

h4 {
    color: black;
    margin: 10px;
    text-align: start;
}

p {
    margin: 5px;
}

.ateria-th {
    color: #267ea6 !important;
    text-transform: uppercase !important;
    font-size: 14px !important;
    letter-spacing: 0.5px !important;
}