h2{
    color: var(--main-h2-color);
    font-weight: bold;
    text-align: center;
}

h3{
    color: var(--main-h3-color);
    margin: 0;
}

h4 {
    color: var(--main-h4-color);
    margin: 10px;
    text-align: start;
}

p {
    margin: 5px;
}